@import 'vars';

header {
  background: rgba(52, 135, 255, 0.53);
  h1 {
    color: #fff;

  }


}

h1, h2, h3 {
  color: $text-color;


}

@for $i from 1 through length($photos) {
  .photos li:nth-child(#{$i}) {
    background: url(nth($photos, $i));


  }

}

@each $shade in $colors {
  @each $name in map-keys($colors) {
    .image-#{$name} {
      $current_color: map_get($colors, $name);
      border: solid $current_color;


    }


  }

}

@while $types > 0 {
  .while-#{$types} {
    width: $type-width + $types;
    $types: $types - 1;


  }


}


@mixin background-mixin($boolean) {
  @if $boolean ==true {
    height: 100px;
    background: #000;
  } @else {
    height: 200px;
    background: #84DCC6;

  }

  @mixin bgColor($coloor) {
    background: $coloor;
    height: 50px;



  }
.aside-1 {
  height: 150px;
}
  .aside-2 {
    @extend .aside-1;
    background:#EF8354;

  }
}

.aside-4 {
  @include background-mixin(true)

}
.photos {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  li {
    width: 300px;
    height: 300px;

  }


}


/*remember, when you need to use a variable as a selector or property (like I'm using i above), remember the hash tag,
curly braces, and dollar sign, in that order outside in.
 */
